.main {
  max-width: var(--largura-maxima);
  margin: 0 auto;
  padding: 0 var(--padding-lateral);
}

.hero {
  text-align: center;
  padding: 67px 0;
  border-bottom: 1px solid var(--cor-borda);
}

.hero h1 {
  font-size: 36px;
  color: var(--cor-titulo);
  margin-bottom: 16px;
}

.hero p {
  font-size: 16px;
  color: var(--cor-texto-claro);
  max-width: 400px;
  margin: 0 auto 32px;
  line-height: 1.6;
}
.service {
  padding: 60px 0;
}

.service h2 {
  font-size: 22px;
  color: var(--cor-titulo);
  margin-bottom: 32px;
}

.servicos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 28px;
}
.btn-primary {
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
  padding: 12px 24px;
  border-radius: var(--raio-pequeno);
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2;
}

.btn-primary:hover {
  background-color: var(--cor-fundo-);
  border: 1px solid var(--cor-escura);
  color: var(--cor-escura);
}

.btn-secondary {
  color: var(--cor-primaria);
  padding: 12px 24px;
  border-radius: var(--raio-pequeno);
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2;
  border: 1px solid var(--cor-escura);
}

.btn-secondary:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
}
