button{
  background-image: url(https://static.wikia.nocookie.net/bluelock/images/6/6d/Charles.png/revision/latest?cb=20250731185927);
  background-repeat:round;
  padding: 10px;
  margin: 10px;
  border-color: gold;
}
.cont-app{
  background-color: black;
}
hr{
  background-color: gold;
  border-color: gold;
}
